.container>* {
    background-color: antiquewhite;
    border: 3px solid gold;
    padding: 30px;
}

.container {
    display: grid;
    /* grid-template-areas: repeat(4, 1fr); */
    gap: 20px;
    grid-template-areas:
        "head head head head"
        "navbar main main sidebar"
        "navbar main main Advertising"
        "footer footer footer footer";

}

@media screen and (min-width:576px) and (max-width:991px) {
    .container {

        grid-template-areas:
            "head head head"
            "navbar navbar navbar"
            "sidebar main main"
            "Advertising footer footer";

    }
}

@media screen and (max-width:576px) {
    .container {

        grid-template-areas:
            "head"
            "navbar"
            "main"
            "sidebar"
            "Advertising"
            "footer";
    }
}



header {
    grid-area: head;
}

main {
    grid-area: main;
}

#sidebar {
    grid-area: sidebar;
}

/* aside {
    grid-area: sidebar;
} */

#Advertising {
    grid-area: Advertising;
}

nav {
    grid-area: navbar;
}

footer {
    grid-area: footer;
}

/* .navbar {
    display: flex;
} */